<?xml version="1.0" ?>
<!-- Configuration for C/C++/C# -->
<config>

	<!-- File types -->
	<fileTypes>
		<fileType>c</fileType>
		<fileType>cpp</fileType>
		<fileType>h</fileType>
		<fileType>hpp</fileType>
		<fileType>cs</fileType>
	</fileTypes>
	
	<!-- Task types -->
	<tasks>
		<task priority="1" pattern="// HACK: " />
		<task priority="2" pattern="// KLUDGE: " />
		<task priority="6" pattern="// TODO: " />
		<task priority="6" pattern="// NOTE: " />
	</tasks>	
	
</config>