<?xml version="1.0" ?>
<!-- Configuration for PHP -->
<config>

	<!-- File types -->
	<fileTypes>
		<fileType>php</fileType>
	</fileTypes>
	
	<!-- Task types -->
	<tasks>
		<task priority="1" pattern="// HACK: " />
		<task priority="2" pattern="// KLUDGE: " />
		<task priority="6" pattern="// TODO: " />
		<task priority="6" pattern="// NOTE: " />
	</tasks>	
	
</config>